/*
 * CSS File for the solution
 * Midterm Exam
 * You got this!
 */

/*
 * COLOUR PALETTE
 *
 * YOU DO NOT NEED TO USE THESE COLOURS, BUT YOU CAN IF YOU WANT TO
 *   #ede0d4
 *   #e6ccb2
 *   #ddb892
 *   #b08968
 *   #7f5539
 *   #9c6644
 *
 * https://coolors.co/palette/ede0d4-e6ccb2-ddb892-b08968-7f5539-9c6644
 */

/*
 * The width of my Product Card in the screenshot was 400px
 * You can use that width or set your own width
 */

/*
 * HINT: For making image fill the container use object-fit:cover property:
 *  https://developer.mozilla.org/en-US/docs/Web/CSS/object-fit
 */

html {
  font-size: 1.0rem;
}

main {
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
}

body { 
  font-family: Arial, Helvetica, sans-serif;
    background-color: #a5a5a5;

    display: flex;
    justify-content: center;
    align-items: center;

    margin-left: 1rem;
    margin-right: 1rem;
}

  .cap-image {
    width: 100%;
    height: 200px;
    border-radius: 10%;
    object-fit: cover;
  }

  .cap-container{
    width: 300px;
    height: 530px;
    border-radius: 30px;
    background-color: #cacaca;
    margin: 20px;
    justify-content: center;
    align-items:center;

  }

  .buy-now{
    background-color: #c8c1ba;
    color: #b6b4b4;
    border: none;
    text-align: center;
    padding: 5px 10px;
    border-radius: 10px; 
    cursor: pointer;
    padding: 5px 10px;
    margin-right: 10px;
    font-weight: bold;
    text-decoration: none;
  }


  .cap-title {
    font-size: 15px;
    color: #732f08;
    

  }

    .cap-description {
        font-size: 16px;
        color:#402305;
        margin: 10px 0;
    }

    .cap-details {
      text-align: center;
      color:#732f08
    }

  .buy-now{
    display: flex;
    justify-content: center;
  }
  
